@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif");

/* Body */
#main {
    margin: 50px auto;
    text-align: center;
    background-color: rgba(234, 152, 152, 0.3);
}
/* Time Display */
#time_display {
    padding-bottom: 40px;
}

.button-1 {
    font-family: "IBM Plex Sans";
    background-color: rgba(110, 6, 60, 0.5);
    color: aliceblue;
    padding: 10px 10px;
    border-radius: 5px;
}

#output-1 {
    font-family: "IBM Plex Serif";
}

/* Form Display */
#form_display {
    margin: 0 auto 30px auto;
    width: fit-content;
    padding: 20px;
    background-color: rgba(110, 6, 60, 0.2);
    box-shadow: 2px 2px 5px rgb(134, 17, 62);
}

h2 {
    font-family: "IBM Plex Serif";
}

#studentForm {
    font-family: "IBM Plex Sans";
}

.button-2 {
    font-family: "IBM Plex Serif";
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(119, 18, 90, 0.7);
    color: aliceblue;
}

hr {
   border: 1.2px solid palevioletred 
}

/* Search Display */
#search_display {
    padding: 30px 10px 10px 10px;
    font-family: "IBM Plex Sans";
    background-color: rgb(250, 235, 215, 0.7);
    box-shadow: 2px 2px 5px gray;
    width: fit-content;
    margin: 50px auto 50px auto;
}

.button-3 {
    background-color: rgba(119, 18, 90, 0.7);
    color: aliceblue;
}

/* Record Display */
h3 {
    font-family: "IBM Plex Serif";
}

.button-4 {
    font-family: "IBM Plex Sans";
    background-color: rgba(119, 18, 90, 0.7);
    color: aliceblue;
    padding: 5px;
    border-radius: 5px;
}

#output-4 {
    font-family: "IBM Plex Serif";
}

table {
    margin: 0 auto;
    border: 1.2px solid palevioletred;
}
